body {
    background-image: url('../images/background2.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    position: absolute;
    margin-top: -510px;
    color: black;
}

h2 {
    color: black;
    margin-top: -5px;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    margin-bottom: 15px;
}

.hero-container {
    width: 135px;
    position: absolute;
    margin-top: -57px;
    margin-left: -160px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px inset #ccc;
    padding: 7px;
    align-items: center;
}

.enemy-container {
    position: absolute;
    margin-top: -105px;
    margin-left: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px inset #ccc;
    padding: 6px;
    width: 130px;
    align-items: center;
}

.results {
    position: absolute;
    margin-top: 385px;
    margin-left: -10px;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 5px double #ccc;
    padding: 3px;
    width: 280px;
    height: 170px;
}

#buttons {
    position: absolute;
    margin-top: -420px;
    display: inline-flex;
    gap: 10px;
    padding: 30px;
}

.btn-secondary form {
    position: absolute;
    margin-top: -550px;
    padding: 15px 30px;
    min-width: 150px;
    min-height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ccc;
}

.btn-secondary form input[type="submit"] {
    display: none;
}

.btn-secondary form:hover {
    background-color: #aaa;
}
#firebolt{
    position: absolute;
    margin-top: 30px;
    margin-left: -155px;
    width: 60px;
    height: 25px;
}
#healing{
    position: absolute;
    margin-top: 30px;
    margin-left: 15px;
    width: 70px;
    height: 25px;
}
#weakness{
    position: absolute;
    margin-top: 30px;
    margin-left: -70px;
    width: 70px;
    height: 25px;
}
#sunder_armor{
    position: absolute;
    margin-top: 30px;
    margin-left: -250px;
    width: 100px;
    height: 25px;
}
.enemy-info {
    display: none;
    position: absolute;
    margin-top: -130px;
    margin-left: 160px;
    border: 1px solid #ccc;
    width: 220px;
    padding: 5px;
}

/* Style for the button to show the hover window */
.enemy-info-btn {
    position: relative;
    z-index: 1;
}

.enemy-info-btn:hover .enemy-info {
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    border: 5px outset #ccc;
}



