body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    position: absolute;
    margin-top: -460px;
    color: #008CBA;

}

h2 {
    color: #008CBA;
    margin-top: 20px;
}


.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    margin-bottom: 20px;
}

.hero-container {
    position: absolute;
    margin-top: -12px;
    margin-left: -220px;
    padding: 20px;
}

.enemy-container {
    position: absolute;
    margin-top: -50px;
    margin-left: 230px;
    padding: 20px;
}

.hero-info,
.enemy-info {
    padding: 10px;
}

.results {
    position: absolute;
    margin-top: 420px;
    margin-left: -80px;
    max-width: 800px;
}

#buttons {
    position: absolute;
    margin-top: -350px;
    display: inline-flex;
    gap: 10px;
    padding: 30px;
}

.btn-secondary form {
    position: absolute;
    margin-top: -500px;
    padding: 15px 30px;
    min-width: 150px;
    min-height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ccc;
}

.btn-secondary form input[type="submit"] {
    display: none;
}

.btn-secondary form:hover {
    background-color: #aaa;
}
#firebolt{
    position: absolute;
    margin-top: 38px;
    margin-left: -100px;
    width: 60px;
    height: 25px;
}
#weakness{
    position: absolute;
    margin-top: 38px;
    margin-left: -170px;
    width: 70px;
    height: 25px;
}


