body {
    background-image: url('../images/room.jpeg');
    background-position: center 20%;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

html body {
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1232.png), pointer !important;
}

.container {
    display: flex;
    justify-content: center;
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1232.png), pointer !important;
}

#hero-table {
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: -390px;
    position: absolute;
    width: 170px;
    padding: 8px;
    border: 5px double #ccc;
    border-radius: 10px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#items-table{
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-left: 740px;
    width: 200px;
    height: 300px;
    padding: 10px;
    border: 5px double #ccc;
    border-radius: 5px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-x: auto;
}

#item-pictures {
    margin-top: 80px;
    margin-left: 158px;
    border: 5px double white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 330px;
    height: 510px;
  }

.btn-secondary {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    padding: 5px 8px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Add a smooth transition effect for background color and box shadow */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a shadow effect (horizontal offset, vertical offset, blur radius, color) */

}

/* Clicking effect when the button is being clicked */
.btn-secondary:active {
    background-color: #aaa; /* Change to a different background color when clicked */
}

/* Hover effect when the button is being hovered */
.btn-secondary:hover {
    background-color: #ddd; /* Change to a different background color on hover */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Add a larger shadow on hover */
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto !important;
}

#upgradeMessage{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 3px;
    font-size: 16px;
    color:black;
    position: absolute;
    margin-left: -390px;
    margin-top: 45px;
}
#item-info-popup{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;
    border-radius: 5px;
    max-width: 150px;
    margin-left: 1160px;
    margin-top: 100px;
}
#health{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto !important;
}
#attack{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto !important;
}
#defense{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto !important;
}
#mana{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto !important;
}
#myHero{
    position: absolute;
    margin-left: 75px;
    margin-top: 110px;
    border-radius: 5px;
    border: 3px solid white;
}
#helmet-picture{
    position: absolute;
    margin-left: 130px;
    margin-top: 46px;
}
#armor-picture{
    position: absolute;
    margin-left: 10px;
    margin-top: 190px;
}
#necklace-picture{
    position: absolute;
    margin-left: 255px;
    margin-top: 120px;
}
#gloves-picture{
    position: absolute;
    margin-left: 255px;
    margin-top: 190px;
}
#trousers-picture{
    position: absolute;
    margin-left: 10px;
    margin-top: 335px;
}
#weapon-picture{
    position: absolute;
    margin-left: 10px;
    margin-top: 260px;
}
#shield-picture{
    position: absolute;
    margin-left: 255px;
    margin-top: 260px;
}
#boots-picture{
    position: absolute;
    margin-left: 135px;
    margin-top: 423px;
}
#ring-picture{
    position: absolute;
    margin-left: 255px;
    margin-top: 330px;
}
#cloak-picture{
    position: absolute;
    margin-left: 10px;
    margin-top: 120px;
}
#spell-picture-firebolt {
    position: absolute;
    margin-left: 345px;
    margin-top: 340px;
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

#spell-picture-sunder_armor {
    position: absolute;
    margin-left: 400px;
    margin-top: 340px;
    height: 50px;
    width: 52px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

#spell-picture-weakness {
    position: absolute;
    margin-left: 460px;
    margin-top: 340px;
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

#spell-picture-healing {
    position: absolute;
    margin-left: 515px;
    margin-top: 340px;
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.item-button:hover {
    background-color: #f2f2f2;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto !important;
}

.item-picture.highlight {
    border: 3px ridge maroon; /* Add a border to the highlighted item picture */
}
.spell-picture.highlight {
    border: 3px inset maroon; /* You can adjust the style as needed */
}


.item-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    margin-right: 20px; /* Add some spacing between each item */
}

.item-button {
    margin-right: 5px; /* Add some spacing between the button and the item name */
}

#upgradeMessageItem{
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    color:black;
    position: absolute;
    width: 200px;
    margin-left:518px;
    margin-top: 10px;
    align-items: center;
    border-radius: 7px;
}
#upgradeButton{
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto !important;
}
#bonusMessage{
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 16px;
    margin-left: 160px;
    position: absolute;
    width: 330px;
    padding: 5px;
    border-radius: 7px;
    border: 5px double #ccc;
}