body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

#hero-table {
    margin-left: -390px;
    position: absolute;
    width: 170px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#items-table{
    position: absolute;
    margin-left: 740px;
    width: 170px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.btn-secondary {
    display: inline-block;
    margin: 5px;
    padding: 5px 8px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #aaa;
}

#upgradeMessage{
    position: absolute;
    margin-left: -1125px;
    margin-top: -50px;
}
#item-info-popup{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;
    border-radius: 5px;
    max-width: 150px;
    margin-left: 1160px;
    margin-top: 100px;
}
#health{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
}
#attack{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
}
#defense{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
}
#mana{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
}
#myHero{
    position: absolute;
    margin-left: -1px;
    margin-top: 170px;
}
#helmet-picture{
    position: absolute;
    margin-left: 55px;
    margin-top: 105px;
}
#armor-picture{
    position: absolute;
    margin-left: -65px;
    margin-top: 250px;
}
#necklace-picture{
    position: absolute;
    margin-left: 170px;
    margin-top: 190px;
}
#gloves-picture{
    position: absolute;
    margin-left: 170px;
    margin-top: 255px;
}
#trousers-picture{
    position: absolute;
    margin-left: -65px;
    margin-top: 380px;
}
#weapon-picture{
    position: absolute;
    margin-left: -65px;
    margin-top: 315px;
}
#shield-picture{
    position: absolute;
    margin-left: 170px;
    margin-top: 320px;
}
#boots-picture{
    position: absolute;
    margin-left: 50px;
    margin-top: 480px;
}
#ring-picture{
    position: absolute;
    margin-left: 170px;
    margin-top: 384px;
}
#cloak-picture{
    position: absolute;
    margin-left: -65px;
    margin-top: 175px;
}
/* Add the following styles to highlight the item picture when hovering over the item button */
.item-button:hover {
    background-color: #f2f2f2; /* Change the background color when hovering over an item button */
}

/* Add the following styles to display the highlighted item picture */
.item-picture.highlight {
    border: 3px solid maroon; /* Add a border to the highlighted item picture */
}
