body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

#hero-table,
#items-table {
    width: 170px;
    padding: 30px;
    border: 1px solid #ccc;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#items-table{
    list-style: none;
}

#hero-table {
    margin-right: 20px;

}

.btn-secondary {
    display: inline-block;
    margin: 5px;
    padding: 7px 15px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #aaa;
}

#upgradeMessage{
    position: absolute;
    margin-left: -15px;
    margin-top: 600px;
}
#item-info-popup{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
    max-width: 200px;
    margin-left: 1305px;
    margin-top: -330px;
}
#health{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
}
#attack{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
}
#defense{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
}
#mana{
    position: absolute;
    margin-left: 52px;
    margin-top: -37px;
}