body {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: -200px;
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1232.png), auto !important;
}

#container {
    background-image: url('/images/main.jpg');
    background-size: contain; /* Ensure the entire image fits inside the container */
    background-repeat: no-repeat;
    background-position: center center;
    height: 610px;
    width: 510px;
  }
  
h1 {
 width:350px;
    height: 24px;
    font-size: 25px;
    margin-top: 80px;
    margin-left: 100px;
}

#container h1 {
    font-size: 24px; /* Adjust the font size to your preference */
  }
  


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px;
    max-width: 100%;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: 5px double darkblue;
    border-radius: 5px;
}

button[type="submit"]:hover {
   
    background-color: #0056b3;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto !important;
}

.starting-bonus {
    border: 5px double black;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
}
.starting-bonus label {
    display: flex;
    flex-direction: column;
    border: 3px double #ccc; /* Add border style */
    padding: 10px; /* Add padding for spacing */
}

.starting-bonus p {
    font-weight: bold;
    margin-bottom: 5px;
    
}

.starting-bonus label {
    display: block;
    margin-bottom: 7px;
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1232.png), auto !important;
}

.starting-bonus input[type="radio"] {
    margin-right: 5px;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto !important;
}