<!DOCTYPE html>
<html>
<head>
  <title>Fighting Page</title>
  <link rel="stylesheet" href="/css/fight.css">
</head>
<body>
<h1>Fighting Page</h1>
<div id="buttons">
  <button class="btn btn-secondary" onclick="location.href='/hero'">Hero</button>
  <form id="healForm" action="/heal" method="post">
    <button type="submit" class="btn btn-secondary">Use Healing potion</button>
    <input type="hidden" name="heroId" value="1" />
  </form>
  <button type="button" class="btn btn-secondary" onclick="toggleFormVisibility()">Spells</button>
  <form class="spellCast" action="/weakness" method="post" style="display: none;">
    <button id="weakness" class=" btn btn-secondary" type="submit">Weakness</button>
    <input type="hidden" name="heroId" value="1" />
  </form>
  <form class="spellCast" action="/firebolt" method="post" style="display: none;">
    <button id="firebolt" class=" btn btn-secondary" type="submit">Firebolt</button>
    <input type="hidden" name="heroId" value="1" />
  </form>
  <form id="fight" class="btn btn-secondary"  action="/fight" method="post">
    <input type="hidden" name="heroId" th:value="${hero.id}">
    <input type="hidden" name="enemyId" th:if="${enemy != null}" th:value="${enemy.id}">
    <input type="submit" value="Fight!" th:if="${enemy != null}">
  </form>
</div>
<div class="hero-container">
  <h2>Your Hero:</h2>
  <p>Health: <span th:text="${hero.health}"></span></p>
  <p>Attack: <span th:text="${hero.attack}"></span></p>
  <p>Defense: <span th:text="${hero.defense}"></span></p>
  <p>Mana: <span th:text="${hero.mana}"></span></p>
  <p>Healing potion: <span th:text="${hero.potion}"></span></p>
</div>
<div class="enemy-container" th:if="${enemy != null}">
  <h2>Enemy:</h2>
  <p>Name: <span th:text="${enemy.name}"></span></p>
  <p>Health: <span th:text="${enemy.health}"></span></p>
  <p>Attack: <span th:text="${enemy.attack}"></span></p>
  <p>Defense: <span th:text="${enemy.defence}"></span></p>
  <div class="enemy-info-btn">
    <button type="button" class="btn btn-secondary">Show Info</button>
    <div class="enemy-info">
      <!-- Add the enemy info here -->
      <p th:text="${enemy.info}"></p>
    </div>
  </div>
</div>
<div class="results">
  <h2>Results:</h2>
  <p id="fightResultP" th:text="${healMessage}"></p>
  <p id="fightResult" th:text="${fightResult}"></p>
  <p id="fightResultH" th:text="${heroAttackMessage}"></p>
  <p id="fightResultE" th:text="${enemyAttackMessage}"></p>
  <p id="fightResultIH" th:text="${ineffectiveHeroAttackMessage}"></p>
  <p id="fightResultIE" th:text="${ineffectiveEnemyAttackMessage}"></p>
  <p id="fightResultS" th:text="${spellCastingResult}"></p>
</div>
<script th:inline="javascript">
  document.addEventListener('DOMContentLoaded', function() {
    /* Check if heroLost flag is true (hero has lost) and disable the buttons */
    var heroLost = /*[[${heroLost}]]*/ false; // Get the actual value from the model

    if (heroLost) {
      var buttons = document.querySelectorAll('button[type="submit"]');
      buttons.forEach(function(button) {
        button.disabled = true;
      });
      var fightForm = document.getElementById('fight');
      if (fightForm) {
        var fightButton = fightForm.querySelector('input[type="submit"]');
        if (fightButton) {
          fightButton.disabled = true;
        }
      }
    }
  });
  function toggleFormVisibility() {
    const spellForms = document.querySelectorAll('.spellCast');
    spellForms.forEach(form => {
      form.style.display = form.style.display === 'none' ? 'block' : 'none';
    });
  }
</script>


</body>
</html>