<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to the arena</title>
  <link rel="stylesheet" href="/css/fight.css">
</head>
<body>
<h1>Welcome to the arena</h1>
<div id="buttons">
  <button onclick="location.href='/readmeFight'" style="cursor: url(https://cur.cursors-4u.net/games/gam-11/gam1070.png), auto !important;">Readme</button>
  <button class="btn btn-secondary" onclick="location.href='/hero'">Hero</button>

  <form id="healForm">
    <input type="hidden" name="heroId" value="1" />
    <button type="button" class="btn btn-secondary" data-effect="Heals you up to 30 health" style="cursor: url('../images/health.cur'), auto !important;" th:onclick="'javascript:postData(event, 1)'">Use Healing potion</button>
  </form>
  
  <form id="manaForm" >
    <input type="hidden" name="heroId" value="1" />
    <button type="button" class="btn btn-secondary" data-effect="Restores 20 mana" style="cursor: url('../images/mana.cur'), auto !important;" th:onclick="'javascript:postData2(event, 1)'" >Use Mana potion</button>
  </form>

  <form id="fight" class="btn btn-secondary" action="/fight" method="post">
    <input type="hidden" name="startingBonus" value="${startingBonus}" />
    <input type="hidden" name="heroId" th:value="${hero.id}">
    <input type="hidden" name="enemyId" th:value="${enemy != null ? enemy.id : ''}">

    <button type="button" value="Fight!" th:if="${enemy != null}" style="cursor: url(https://cur.cursors-4u.net/games/gam-4/gam376.cur), auto !important;" th:onclick="'javascript:postData3(event, 1, ' + ${enemy.id} + ')'">Fight!</button>
  </form>
</div>
<div id="spells">
<button type="button"  class="btn btn-secondary" id="toggleSpells">Spells</button>
  <form class="spellCast" action="/healing" method="post" >
    <button id="healing" class="btn btn-secondary" type="submit" data-effect="Heals you up to 25 health">Healing</button>
    <input type="hidden" name="heroId" value="1" />
  </form>
  <form class="spellCast" action="/weakness" method="post" >
    <button id="weakness" class="btn btn-secondary" type="submit" data-effect="Weakens the enemy's attack by 3">Weakness</button>
    <input type="hidden" name="heroId" value="1" />
  </form>
  <form class="spellCast" action="/sunder_armor" method="post" >
    <button id="sunder_armor" class="btn btn-secondary" type="submit" data-effect="Reduces enemy's defense by 3">Sunder Armor</button>
    <input type="hidden" name="heroId" value="1" />
  </form>
  <form class="spellCast" action="/firebolt" method="post" >
    <button id="firebolt" class="btn btn-secondary" type="submit" data-effect="Deals 30 damage and ignores armor">Firebolt</button>
    <input type="hidden" name="heroId" value="1" />
  </form>
  <form class="spellCast" action="/deathray" method="post" >
    <button id="death_ray" class="btn btn-secondary" type="submit" data-effect="Deals 100 damage and ignores armor">Death Ray</button>
    <input type="hidden" name="heroId" value="1" />
  </form>
  <form class="spellCast" action="/lifesteal" method="post" >
    <button id="life_steal" class="btn btn-secondary" type="submit" data-effect="Steals up to 20 health from living enemy and heals you">Life Steal</button>
    <input type="hidden" name="heroId" value="1" />
  </form>
</div>
<div class="hero-container">
  <h2><span th:text="${hero.name}"></span></h2>
  <p>Health: <span id="herohealth" th:text="${hero.health}"></span> / <span th:text="${hero.maxHealth}"></span></p>
  <p>Attack: <span th:text="${hero.attack}"></span></p>
  <p>Defense: <span th:text="${hero.defense}"></span></p>
  <p>Mana: <span id="heromana" th:text="${hero.mana}"></span></p>
  <p>Healing potion: <span id="heroHealingPotion" th:text="${hero.healingPotion}"></span></p>
  <p>Mana potion: <span id="heroManaPotion" th:text="${hero.manaPotion}"></span></p>
</div>
<div class="enemy-container" th:if="${enemy != null}">
  <h2><span th:text="${enemy.name}"></span></h2>
  <p>Health: <span id="enemyhealth" th:text="${enemy.health}"></span> / <span th:text="${enemy.maxHealth}"></span></p>
  <p>Attack: <span th:text="${enemy.attack}"></span></p>
  <p>Defense: <span id="enemydefence" th:text="${enemy.defence}"></span></p>
  <div class="enemy-info-btn">
    <button type="button" class="btn btn-secondary" id="showInfoBtn">Show Info</button>
    <div class="enemy-info" style="display: none ">
      <p th:text="${enemy.info}"></p>
      <div id="enemy-pictures">
        <img class="enemy-picture" id="figurine" src="/images/figurine.png" alt="dummy" style="display: none">
        <img class="enemy-picture" id="giant_rat" src="/images/giant_rat.png" alt="rat" style="display: none">
        <img class="enemy-picture" id="goblin" src="/images/goblin.png" alt="goblin" style="display: none">
        <img class="enemy-picture" id="orc" src="/images/orc2.png" alt="orc" style="display: none">
        <img class="enemy-picture" id="troll" src="/images/troll.png" alt="troll" style="display: none">
        <img class="enemy-picture" id="elemental" src="/images/elemental.png" alt="elemental" style="display: none">
        <img class="enemy-picture" id="minotaur" src="/images/minotaur.png" alt="minotaur" style="display: none">
        <img class="enemy-picture" id="behemoth" src="/images/behemoth.jpg" alt="behemoth" style="display: none">
        <img class="enemy-picture" id="medusa" src="/images/medusa.png" alt="medusa" style="display: none">
        <img class="enemy-picture" id="lich" src="/images/lich.png" alt="lich" style="display: none">
        <img class="enemy-picture" id="dragon" src="/images/dragon.png" alt="dragon" style="display: none">
      </div>
    </div>
  </div>
</div>
<div class="results">
  <p id="fightResultP" th:text="${healMessage}"></p>
  <p id="fightResult" th:text="${fightResult}"></p>
  <p id="fightResultH" th:text="${heroAttackMessage}"></p>
  <p id="fightResultE" th:text="${enemyAttackMessage}"></p>
  <p id="fightResultES" th:text="${enemySpecialAttackMessage}"></p>
  <p id="fightResultIH" th:text="${ineffectiveHeroAttackMessage}"></p>
  <p id="fightResultIE" th:text="${ineffectiveEnemyAttackMessage}"></p>
  <p id="fightResultS" th:text="${spellCastingResult}"></p>
</div>
</body>
</html>

<script th:inline="javascript">
  /*
  async function fetchAndReplaceData(actionUrl, targetElementId) {
      try {
          const response = await fetch(actionUrl);
          if (!response.ok) {
              throw new Error(
                  `Failed to fetch data. Status: ${response.status} ${response.statusText}`
              );
          }
          const responseData = await response.json();
          const targetElement = document.getElementById(targetElementId);

          if (targetElement) {
              targetElement.innerHTML = responseData.htmlContent;
          }

          restoreScrollPosition();
      } catch (error) {
          console.error("Error fetching and replacing data:", error);
      }
  }
*/
  function postData(event, heroId) {
      event.preventDefault();
let formData = new FormData();
formData.append("heroId", heroId)

      fetch(`/heal`, {
          method: "POST",
          headers: {
        //      "content-type": "application/json",
          },
          body:formData
      })
          .then(response => {
            console.log(response.status)
              if (response.status === 200) {
                  return response.json();
              } else {
                  throw new Error("Failed to fetch data");
              }
          })
          .then(heroData => {
            console.log(heroData)
              const heroHealthElement = document.getElementById("herohealth");
              const healingPotionCountElement = document.getElementById("heroHealingPotion");
              const healMessageElement = document.getElementById("fightResultP");

              heroHealthElement.textContent = heroData.hero.health;
              healingPotionCountElement.textContent = heroData.hero.healingPotion;
              healMessageElement.textContent = heroData.healMessage;
              
          })
          .catch(error => {
              console.error("Error updating UI:", error);
          });
  }

  function postData2(event, heroId) {
      event.preventDefault();
let formData = new FormData();
formData.append("heroId", heroId)

      fetch(`/mana`, {
          method: "POST",
          headers: {
        //      "content-type": "application/json",
          },
          body:formData
      })
          .then(response => {
            console.log(response.status)
              if (response.status === 200) {
                  return response.json();
              } else {
                  throw new Error("Failed to fetch data");
              }
          })
          .then(heroData => {
            console.log(heroData)
              const heroManaElement = document.getElementById("heromana");
              const manaPotionCountElement = document.getElementById("heroManaPotion");
              const healMessageElement = document.getElementById("fightResultP");

              heroManaElement.textContent = heroData.hero.mana;
              manaPotionCountElement.textContent = heroData.hero.manaPotion;
              healMessageElement.textContent = heroData.healMessage;
              
              
          })
          .catch(error => {
              console.error("Error updating UI:", error);
          });
  }

  function postData3(event, heroId, enemyId) {
    event.preventDefault();
    var chosenBonus = sessionStorage.getItem("chosenBonus");

    let formData = new FormData();
    formData.append("heroId", heroId);
    formData.append("enemyId", enemyId);

    fetch(`/fight`, {
        method: "POST",
        headers: {
        },
        body: formData,
    })
        .then(response => {
        
            if (response.status === 200) {
                return response.json();
            } else {
                throw new Error("Failed to fetch data");
            }
        })
        .then(heroData => {
          console.log(heroData);
          console.log("bonus messageF: " + heroData.bonusMessage);
    // Access hero and enemy properties from heroData
    const hero = heroData.hero;
    const enemy = heroData.enemy;

    // Access other properties
    const heroAttack = heroData.heroAttack;
    const fightResult = heroData.fightResult;
    const heroAttackMessage = heroData.heroAttackMessage;
    const enemySpecialAttackMessage = heroData.enemySpecialAttackMessage;
    const enemyAttack = heroData.enemyAttack;
    const enemyAttackMessage = heroData.enemyAttackMessage;
    const ineffectiveHeroAttackMessage = heroData.ineffectiveHeroAttackMessage;
    const ineffectiveEnemyAttackMessage = heroData.ineffectiveEnemyAttackMessage;
    const enemydefeat = heroData.enemydefeat;

    // Update HTML elements with the retrieved data
    const heroFightElement = document.getElementById("fight");
    const heroHealthElement = document.getElementById("herohealth");
    const enemyHealthElement = document.getElementById("enemyhealth");
    const enemymaxHealthElement = document.getElementById("enemyhealth");
    const enemydefenceElement = document.getElementById("enemydefence");
    const fightresultElement = document.getElementById("fightResult");
    const fightresultHeroElement = document.getElementById("fightResultH");
    const fightresultEnemyElement = document.getElementById("fightResultE");
    const fightresultSpecialElement = document.getElementById("fightResultS");
    const fightresultIneffectiveElement = document.getElementById("fightResultIH");
    const fightresultIneffectiveEnemyElement = document.getElementById("fightResultIE");

    heroHealthElement.textContent = hero.health;
    enemyHealthElement.textContent = enemy.health;
    enemydefenceElement.textContent = enemy.defence;
    fightresultElement.textContent = fightResult;
    fightresultHeroElement.textContent = heroAttackMessage;
    fightresultEnemyElement.textContent = enemyAttackMessage;
    fightresultSpecialElement.textContent = enemySpecialAttackMessage;
    fightresultIneffectiveElement.textContent = ineffectiveHeroAttackMessage;
    fightresultIneffectiveEnemyElement.textContent = ineffectiveEnemyAttackMessage;

// Check if the enemy is defeated
if (enemy.health <= 0 || hero.health <= 0 || enemydefeat === true) {
  window.location.href = "/hero";  
  sessionStorage.setItem("enemydefeat", heroData.enemydefeat);
  sessionStorage.setItem("bonusMessage", heroData.bonusMessage);
/*
  let formData = new FormData()
  formData.append("bonusMessage", heroData.bonusMessage)
  fetch("/hero" , {
    method:"POST", 
    body: formData
  }).then(response => {
    console.log(response.body)
    console.log(response.status)
    
  })
  */
   // window.location.href = "/hero";    
const bonusMessageElement = heroData.bonusMessage;
const enemyDefeat = heroData.enemydefeat;
sessionStorage.setItem("bonusMessage", heroData.bonusMessage);
console.log("bonusMessageElementF:", bonusMessageElement);
console.log("enemy1:", enemyDefeat);

if (bonusMessageElement) {
    console.log("Updating bonusMessage contentF...");
    bonusMessageElement.textContent = heroData.bonusMessage;
    console.log("bonusMessageElementF:", bonusMessageElement);
}
}
})
.catch(error => {
    console.error("Error updating UI:", error);
});
  }

 // Function to toggle the visibility of spell forms
function toggleFormVisibility() {
  const spellForms = document.querySelectorAll('.spellCast');
  const shouldShow = spellForms[0].style.display === 'none';
  spellForms.forEach((form) => {
    form.style.display = shouldShow ? 'block' : 'none';
  });
  saveVisibilityState(shouldShow);
}

// Function to save and load the visibility state in localStorage
function saveVisibilityState(shouldShow) {
  localStorage.setItem('spellVisibilityState', shouldShow ? 'visible' : 'hidden');
}

// Function to initialize the visibility state from localStorage
function loadVisibilityState() {
  const state = localStorage.getItem('spellVisibilityState');
  const spellForms = document.querySelectorAll('.spellCast');
  if (state === 'visible') {
    spellForms.forEach((form) => {
      form.style.display = 'block';
    });
  } else {
    spellForms.forEach((form) => {
      form.style.display = 'none';
    });
  }
}

// Add event listener for the "Spells" button
const toggleSpellsButton = document.getElementById('toggleSpells');
toggleSpellsButton.addEventListener('click', () => {
  toggleFormVisibility();
});

// Load and apply the initial visibility state
window.addEventListener('load', () => {
  loadVisibilityState();
});


  document.addEventListener('DOMContentLoaded', async function () {
      /* Check if heroLost flag is true (hero has lost) and disable the buttons */
      var heroLost = /*[[${heroLost}]]*/ false; // Get the actual value from the model

      if (heroLost) {
          var buttons = document.querySelectorAll('button[type="submit"]');
          buttons.forEach(function (button) {
              button.disabled = true;
          });
          var fightForm = document.getElementById('fight');
          if (fightForm) {
              var fightButton = fightForm.querySelector('input[type="submit"]');
              if (fightButton) {
                  fightButton.disabled = true;
              }
          }
      }

      const actionUrlTemplate = "/heal";
     // const actionUrl = actionUrlTemplate.replace("{itemId}", itemId);
      const targetElementId = "healForm";

      // Fetch and replace data without reloading the page
      //await fetchAndReplaceData(actionUrl, targetElementId);
  });

  const showInfoBtn = document.getElementById('showInfoBtn');
  const enemyInfo = document.querySelector('.enemy-info');
  const enemyPictures = document.getElementById('enemy-pictures');
  const enemyName = /*[[${enemy.name}]]*/ '';

  showInfoBtn.addEventListener('mouseenter', function () {
      const imageId = enemyName.replace(' ', '_').toLowerCase();
      const image = enemyPictures.querySelector(`#${imageId}`);
      if (image) {
          image.style.display = 'block';
      }
      enemyInfo.style.display = 'block'; // Show the info container on hover
  });

  showInfoBtn.addEventListener('mouseleave', function () {
      const imageId = enemyName.replace(' ', '_').toLowerCase();
      const image = enemyPictures.querySelector(`#${imageId}`);
      if (image) {
          image.style.display = 'none';
      }
      enemyInfo.style.display = 'none'; // Hide the info container when not hovering
  });

  showInfoBtn.addEventListener('click', function () {
      enemyInfo.classList.toggle('active');
  });
</script>
</body>
</html>