<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <h1>Hail to you champion, choose your name and profession</h1>
    <form action="/hero/save" method="post">
        <input type="text" name="heroName" placeholder="Enter hero name" value="Warrior" required maxlength="10">

        <div class="starting-bonus">
            <label>
                <input type="radio" name="startingBonus" value="warrior" required onchange="changeHero(this.value)"> 
                Warrior <br>
                <br>
                starting bonus:<br>
                + 60 health<br>
                + 2 attack<br>
                + 2 defense<br>
                + 2 runes 
            </label>
            <label>
                <input type="radio" name="startingBonus" value="mage" required onchange="changeHero(this.value)"> 
                Mage <br>
                <br>
                starting bonus:<br>
                + 25 health<br>
                + 50 mana<br>
                + 3 skill points
            </label>
        </div>
        <button type="submit">Start Game</button>
        <div th:if="${heroNameError}" class="error-message">
            <p th:text="${heroNameError}"></p>
        </div>
        <div th:if="${startingBonusError}" class="error-message">
            <p th:text="${startingBonusError}"></p>
        </div>
    </form>
    <script>
    function changeHero(selectedBonus) {
        sessionStorage.setItem('chosenBonus', selectedBonus);

        const otherRadioButton = document.querySelector(`input[type="radio"][value="${selectedBonus === 'warrior' ? 'mage' : 'warrior'}"]`);
            otherRadioButton.disabled = true;

            // Enable the chosen radio button
            const chosenRadioButton = document.querySelector(`input[type="radio"][value="${selectedBonus}"]`);
            chosenRadioButton.disabled = false;
    }
</script>
</body>
</html>
